@using System.Data;
@using Newtonsoft.Json;
@using FuriousIllusions.Models;


@{
    string json = File.ReadAllText(Server.MapPath(@"~/App_Data/movies.json"));
    List<Movie> bsObj = JsonConvert.DeserializeObject<MovieList>(json).Movie.ToList();


    var jsonToOutput = JsonConvert.SerializeObject(bsObj, Formatting.Indented);
    File.WriteAllText(Server.MapPath(@"~/App_Data/movies.json"), jsonToOutput);
    /*
    var array = JArray.Parse(initialJson);

    var itemToAdd = new JObject();
    itemToAdd["Title"] = "";
    itemToAdd["Duration"] = "";
    itemToAdd["Kijkwijzer"] = "";
    itemToAdd["PublicationYear"] = "";
    itemToAdd["Actors"] = "";
    itemToAdd["Trailer"] = "";
    array.Add(itemToAdd);

    var jsonToOutput = JsonConvert.SerializeObject(array, Formatting.Indented);
    */
    //save to file here
}
<script type="text/javascript"
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
</script>
<script>
        $(document).ready(function () {
            $(".frame").click(function (event) {
                event.preventDefault();

                $("#frameVid").attr("src", $(this).attr("href"));

                $("#frameVid").css("display", "block");
            });
        });
</script>

<h2>Our Movies</h2>
<table class="table table-hover table-inverse">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Duur</th>
            <th>Kijkwijzer</th>
            <th>Publicatie jaar</th>
            <th>Acteurs</th>
            <th colspan="1">Play</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Movie m in bsObj)
        {
            <tr>
                <td>@m.Title</td>
                <td>@m.Duration</td>
                <td>@m.Kijkwijzer jaar</td>
                <td>@m.PublicationYear</td>
                <td>@m.Actors</td>
                <td><a href="@m.Trailer" class="frame" target="frameVid"><img src="http://www.pngmart.com/files/3/YouTube-Play-Button-PNG-Image.png" style="height:30px" /></a></td>
            </tr>
        }
    </tbody>
</table>
<a href="~/Movies/Create"><button>Create new movie</button></a>
<br />
<br />
<iframe src="" id="frameVid" style="display:none; width:1140px; height:680px;"></iframe>
