@using System.Data;
@using FuriousIllusions.Models;

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Song song = new Song();
    string id = HttpContext.Current.Request.QueryString["id"];
}

<h2>Edit</h2>

@foreach (DataRow dr in song.ds.Tables[0].Rows)
{
    if (dr["id"].ToString() == Request.QueryString["id"])
    {
    <b>Selected song:</b>
    <br />
    <form method="post" action="">
        <table>
            <tr>
                <td>ID:</td>
                <td><input type="text" size="40" name="id" placeholder="" value="@dr["id"]" readonly></td>
            </tr>
            <tr>
                <td>Artist:</td>
                <td><input type="text" size="40" name="artist" placeholder="Artist" value="@dr["artist"]"></td>
            </tr>
            <tr>
                <td>Song title:</td>
                <td><input type="text" size="40" name="title" placeholder="Title of the song" value="@dr["title"]"></td>
            </tr>
            <tr>
                <td>Publication year:</td>
                <td><input type="text" size="40" name="publication" placeholder="Publication year" value="@dr["publication"]"></td>
            </tr>
            <tr>
                <td>Genre:</td>
                <td><input type="text" size="40" name="genre" placeholder="Genre" value="@dr["genre"]"></td>
            </tr>
            <tr>
                <td>Duration:</td>
                <td><input type="text" size="40" name="duration" placeholder="Duration" value="@dr["duration"]"></td>
            </tr>
            <tr>
                <td>Youtube Url link:</td>
                <td><input type="text" size="40" name="file" placeholder="File name" value="@dr["link"]"></td>
            </tr>
            <tr>
                <td><input type="submit" name="" value="Edit Song"></td>
            </tr>
        </table>
    </form>
    break;
    }
}
<br />
<a href='~/Songs/Index'><button>Cancel</button></a>

@{
    if (IsPost)
    {
        song.Edit(id);
    }
}