@using System.Data;
@using FuriousIllusions.Models;

@{
    ViewBag.Title = "Playlist Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Song song = new Song();
}
<script type="text/javascript"
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
</script>
<script>
    $(document).ready(function () {
        $(".frame").click(function (event) {
            event.preventDefault();

            $("#frameVid").attr("src", $(this).attr("href"));

            $("#frameVid").css("display", "block");
        });
    });
</script>

<h2>Our Playlist.</h2>

<table class="table table-hover table-inverse">
    <thead>
        <tr>
            <th>ID</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Publication</th>
            <th>Genre</th>
            <th>Duration</th>
            <th colspan="2">Action</th>
            <th colspan="1">Play as</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in song.GetSongs())
        {
            <tr>
                <td>@dr["id"]</td>
                <td>@dr["artist"]</td>
                <td>@dr["title"]</td>
                <td>@dr["publication"]</td>
                <td>@dr["genre"]</td>
                <td>@dr["duration"]</td>
                <td><a href='~/Songs/Delete?id=@dr["id"]'>Delete</a></td>
                <td><a href='~/Songs/Edit?id=@dr["id"]'>Edit</a></td>
                <td><a href="@dr["link"]" class="frame" target="frameVid">Video</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="~/Songs/Create"><button>Create new song</button></a>
<br />
<br />
<iframe src="" id="frameVid" style="display:none; width:1140px; height:680px;"></iframe>